---
title: Contact
level: ../
---
<article class="detail wrap" id="top">
  <!-- breadcrumbs currently disabled -->
  <!--
  <nav id="breadcrumbs">
      <p><a href="/homepage/">Home</a>&nbsp;&gt;&nbsp;<a href="../">About</a>&nbsp;&gt;&nbsp;About this site...</p>
  </nav>
  -->

  <header>
        <h2>Contact</h2>
  </header>

  <%= render 'contents' %>

  <h3>Getting in touch with us is easy.</h3>
  <aside>
    <div class="note blue">
      <p>
        Email is usually your best bet for a quick response.</a>
      </p>
    </div>
  </aside>
  <p>Email, call, or fill out the form below and we'll get back to you as soon as possible.</p>

  <p class="vcard">
    <span class="email">
      <a href="mailto:thomas@infinitedesign.co?subject=Hello There">thomas@infinitedesign.co</a>
    </span>
    <span class="tel"><a href="tel:+18888873334">+1-888-887-3334</a></span>
    <span class="adr">
      <span class="locality">New York City</span>, <span class="country-name">United States</span>
    </span>
  </p>

  <p>Form-Goes-Here</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure iusto quod officiis quo libero perferendis culpa praesentium omnis atque suscipit ea quibusdam ab aspernatur doloribus et nobis tempora neque? Voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus similique temporibus suscipit accusantium fugiat ut natus dolore molestias quae est odit vitae deserunt officiis mollitia ullam voluptatum tenetur placeat tempora.</p>

  <%= render 'related' %>

</article>
