---
title: Home
---

<article class="detail wrap" id="top">
  <!-- breadcrumbs currently disabled -->
  <!--
  <nav id="breadcrumbs">
      <p><a href="/homepage/">Home</a>&nbsp;&gt;&nbsp;<a href="../">About</a>&nbsp;&gt;&nbsp;About this site...</p>
  </nav>
  -->

  <header>
        <h2>Unlimited Possibilities</h2>
  </header>

  <aside class="contents">
        <h4>Contents</h4>
    <ul>
        <li><a href="../">About infiniteDesign</a></li>
        <li><a href="#contact">Contact Info</a></li>
    </ul>
  </aside>

  <h3>This site is a hybrid of several technologies. PE-MF-RWD.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda enim nulla veniam libero necessitatibus incidunt at itaque neque ut atque iste quidem molestias et eum quaerat ratione reiciendis iusto amet!</p>

  <h3>The technologies</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore officia omnis necessitatibus accusantium obcaecati ex minima ratione excepturi ad optio nisi reiciendis praesentium consequatur ullam illo in esse officiis eligendi.</p>
  <ul>
      <li>Yeoman</li>
      <li>Nanoc</li>
      <li>Yiibu</li>
      <li>320andUp</li>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quisquam ut mollitia eaque recusandae aliquam. Quam illum porro autem accusamus cupiditate reprehenderit saepe adipisci numquam perspiciatis temporibus asperiores distinctio omnis.</p>

  <aside>
    <div class="note blue">
      <p>
        Blank-Slate is an amalegom of Yeoman, nanoc, Yiibu, and 320andUp. Progressive Enhancement Mobile First Responsive Web Design creates <em>Beautiful</em> Web Experiences<a href="about/index.html" title="More about Blank-Slate...">More...</a>
      </p>
    </div>
  </aside>

  <h3>Something else</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nemo magnam esse voluptatem reprehenderit voluptatum reiciendis officia placeat repellendus quaerat nostrum amet beatae adipisci explicabo ratione rerum alias inventore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut incidunt labore doloremque possimus reprehenderit assumenda commodi repellendus aperiam illo eos placeat consequuntur at minima consectetur perferendis. Porro in commodi doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde mollitia amet quis ipsam commodi praesentium reiciendis ullam obcaecati quasi voluptate veniam delectus explicabo pariatur sequi vero debitis soluta labore.</p>

  <aside>
    <div class="note red">
      <p>[01/23/45] This website template is a work in progress. The eventual goal would be a template so simple to edit that even non-programmers could make beautiful responsive web experiences. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est explicabo saepe mollitia alias doloribus doloremque quia esse cum cumque laboriosam quas maxime at consectetur? Sed nam magnam ex molestias cupiditate.</p>
    </div>
  </aside>

  <h3>Awesome</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quod non ratione harum architecto cumque excepturi dolorum repellendus odio nihil possimus alias necessitatibus aspernatur obcaecati eveniet suscipit laboriosam voluptate assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur at dolor qui similique ullam quisquam id ex quasi commodi. Cupiditate repudiandae vel alias accusamus nobis quasi iste. Qui incidunt!Itaque tempore aliquid eos libero placeat accusantium pariatur doloremque harum in aliquam nemo quaerat sed cum deserunt ad rem ratione voluptatum explicabo nobis dolores hic suscipit sequi non beatae excepturi!Quos eos placeat eligendi sint aspernatur quo quidem doloribus exercitationem in hic. Sunt ipsum illum culpa necessitatibus consequatur animi minima totam reiciendis corporis repellendus porro veniam cum ex molestiae est.</p>

  <aside>
    <div class="note blue">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam officiis tempore quia et nesciunt porro itaque laudantium eum aperiam molestias dicta autem quisquam iusto assumenda consectetur quas minus cupiditate. Quam?</p>
    </div>
  </aside>

  <h3>Sweet!</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fugit debitis magnam at quaerat et nostrum quia a est labore consequatur praesentium natus veritatis ut eaque sit tempora ducimus obcaecati.</p>
  <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam velit omnis aspernatur fugit nisi consequatur deleniti nemo eum quis laborum architecto quam ab dolorum hic nulla porro eveniet perferendis repudiandae.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod molestias amet corporis atque sint recusandae ipsam! Temporibus dicta veniam aliquid cumque rem nemo provident nisi aut debitis sequi odit vitae.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eveniet dolore culpa quidem repellendus nostrum voluptates non! Dolore consequatur nesciunt mollitia cupiditate ex illo fugit quas ea accusamus iure. Dolor.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod enim quas qui quidem magni cupiditate placeat inventore quo accusamus deleniti sapiente voluptas labore consequuntur odio pariatur. Nostrum sit assumenda accusantium!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nemo consequatur cum quia natus rem nostrum quidem voluptatem at hic a cumque fuga voluptatum vel obcaecati velit temporibus beatae consectetur.</li>
  </ul>



  <h3>Supported browsers and devices</h3>
  <p>At the moment we can confidently state that this site works beautifully on most modern smartphones, many legacy smartphones, and most tablets and desktop browsers.</p>
  <p>Spreadsheet Log:  <a href="http://spreadsheets.google.com/ccc?key=0AglzInh14B_-dFZsaHA5SmllX0dlVmUtaEpVLWNhbVE&hl=en">a log  of all supported browsers</a>.</p>

  <section id="related">
    <h4>Influences and Tools</h4>
    <nav>
      <ul>
        <li><a href="#">Yeoman</a></li>
        <li><a href="#">nanoc</a></li>
        <li><a href="#">Yiibu</a></li>
        <li><a href="#">320 and Up</a></li>
        <li><a href="#">Mobile Boilerplate</a></li>
      </ul>
    </nav>
  </section>
</article>
