---
title: Projects
level: ../
---

<article class="detail wrap" id="top">
  <!-- breadcrumbs currently disabled -->
  <!--
  <nav id="breadcrumbs">
      <p><a href="/homepage/">Home</a>&nbsp;&gt;&nbsp;<a href="../">About</a>&nbsp;&gt;&nbsp;About this site...</p>
  </nav>
  -->

  <header>
        <h2><%= @site.config[:sec1_heading] %></h2>
  </header>

  <%= render 'contents' %>

  <h3><%= @site.config[:sec1_slogan] %></h3>
  <p>You do the math.<p>
  <p>All of our websites are built with these same best practices for web development. We start with Mobile First -- and then move on down the list through feature phones, smartphones, tablets, laptops, desktops, and even TV. Each time the viewing device changes, our design responds. The static web is gone.</p>
  <p><strong>Dynamic Web Experiences</strong> drive us to build beautiful, easy-to-use websites that just make sense.</p>

  <aside>
    <div class="note blue">
      <p>
        By the way, if you're curious about seeing our work in action, this website is a great example. Try resizing your browser or viewing it on several different devices.</a>
      </p>
    </div>
  </aside>

  <h3>Unfortunately, we're very busy right now and haven't had time to post case studies of our recent work.</h3>

  <p>Besides, we sign confidentiality agreements for virtually every project we take on, and so it's hard to split the difference between displaying our past projects and maintaining our loyalty to our customers. (You wouldn't want your competitors knowning what you were doing either.) We will DEFINITELY put some more content up here as soon as we can. We're very proud of our past projects and we want to share them with you. However, posting them publiclly on our website is a sticky situation.</p>

  <p>We create, design, develop, test, and perfect our work to ensure that users stay happy and always have the best possible web experience.</p>

  <%= render 'related' %>

</article>
