<!DOCTYPE html>

<!-- TODO: Do these html declaration tags need the .oldie class too? -->
<!-- Alternate format available in responsive-type.php: check which one should be used -->
<!-- ie6, ie7, ie8, oldie: classes in IE if statements in respnsive-type.php -->

<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>InfiniteDesign - <%= @item[:title] %></title>
    <!-- ************************************************** -->
    <!-- Meta Tags etc -->
    <!-- ************************************************** -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="InfiniteDesign" />
    <meta name="description" content="Progressive Enhancement Mobile First Responsive Web Design" />
    <meta name="keywords" content="mobile, responsive, progressive, web, design, experience" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <link rel="alternate" type="application/rss+xml" title="Blank-Slate RSS feed" href="http://infinitedesign.co/index.xml" />


    <!-- ************************************************** -->
    <!-- Stylesheets -->
    <!-- ************************************************** -->
    <link rel="stylesheet" type="text/css" href="styles/basic.css" media="screen, handheld" />
    <link rel="stylesheet" type="text/css" href="styles/mobile.css" media="only screen and (min-width: 320px) and (max-width: 720px)" />
    <link rel="stylesheet" type="text/css" href="styles/desktop.css" media="only screen and (min-width: 720px)" />
    <!-- For all browsers -->
    <!-- <link rel="stylesheet" type="text/css" href="styles/main.css"> -->


    <!-- ************************************************** -->
    <!-- JavaScript -->
    <!-- ************************************************** -->
    <!--[if (lt IE 9) & (!IEMobile)]>
      <script src="scripts/vendor/selectivizr-min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="scripts/vendor/modernizr.min.js"></script>


    <!-- ************************************************** -->
    <!-- Icons -->
    <!-- ************************************************** -->
    <!-- 16x16 -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- 32x32 -->
    <link rel="shortcut icon" href="images/favicon.png">

    <!-- iOS apple-touch-icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <!--
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    -->
    <!-- ************************************************** -->


    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <!--
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    -->


    <style type="text/css">
      article.detail > header { border-top: 8px solid #C93213; }
      @media screen and (min-width: 640px) {
        article.detail > header { background-image: url("images/header.png"); background-position: top right; border: none; }
        article.detail > header h2 { background-color:#C93213; } }
    </style>

  </head>

  <body>
    <header role="banner">
      <h1><a href="index.html">Blank-Slate</a></h1>

      <nav>
        <ul>
          <li ><a href="/articles/index.html">articles</a></li>
          <li ><a href="/projects/index.html">projects</a></li>
        </ul>
      </nav>

      <form id="search" method="post" action="search.html">
        <input type="text" name="search" placeholder="search..." />
        <input type="submit" name="sa" value="go" />
      </form>
    </header>


    <%= yield %>

    <footer role="contentinfo">
      <div>
        <section id="about">
          <h3>Atributions</h3>
          <p>
            <small>&#8216;Blank-Slate&#8217; would simply not be possible without <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>, <a href="http://framelessgrid.com/">Frameless grid</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>. The Font Awesome webfont, CSS, and LESS files are licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</small>
            <!-- TODO: Add other atributions: Yeoman, nanoc, etc (more?) -->
          </p>
        </section>

        <section id="elsewhere">
          <h3>Elsewhere</h3>
          <ul>
            <li><a href="http://twitter.com/blank-slate" class="twitter" title="Tweets.">Twitter</a></li>
            <li><a href="http://blank-slate.tumblr.com/" class="tumblr" title="Blog?">Tumblr</a></li>
            <li><a href="http://www.delicious.com/blank-slate" class="delicious" title="Bookmarks!">Delicious</a></li>
            <li><a href="http://www.slideshare.net/blank-slate" class="slideshare" title="Slideshows.">SlideShare</a></li>
          </ul>
        </section>

        <section id="contact">
          <h3>Contact</h3>
          <p class="vcard">
            <span class="email">
              <a href="mailto:thomas@infinitedesign.co?subject=Hello There">thomas@infinitedesign.co</a>
            </span>
            <span class="tel"><a href="tel:+18888873334">+1-888-887-3334</a></span>
            <span class="adr">
              <span class="locality">New York City</span>, <span class="country-name">United States</span>
            </span>
          </p>
          <p class="license">Unless otherwise noted, this work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
        </section>
      </div>
    </footer>


    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="scripts/vendor/jquery.min.js"><\/script>')</script>

    <!-- uncomment for deploy -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--
    <script>
        var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>
    -->

    <!-- build:js scripts/plugins.js -->
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-affix.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-alert.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-modal.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-transition.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-button.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-popover.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/bootstrap-tab.js"></script>
    <script type="text/javascript" src="scripts/vendor/zepto.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/vendor/helper.js"></script>
    <script type="text/javascript" src="scripts/vendor/default.js"></script>
    <!-- endbuild -->
  </body>
</html>
