<footer role="contentinfo">
  <div>
    <section id="about">
      <h3>Our Vision</h3>
      <p>
        <strong>infiniteDesign means unlimited possibilities.</strong> What do you want to create? You dream it. We'll build it.
        <!-- TODO: Add other atributions: Yeoman, nanoc, etc (more?) -->
      </p>
    </section>

    <section id="elsewhere">
      <h3>Elsewhere</h3>
      <ul>
        <li><a href="http://twitter.com/thomassample" class="twitter" title="Tweets.">Twitter</a></li>
        <li><a href="http://github.com/infinitedesign" class="github" title="Let's git it on.">GitHub</a></li>
      </ul>
    </section>

    <section id="contact">
      <h3>Contact</h3>
      <p class="vcard">
        <span class="email">
          <a href="mailto:thomas@infinitedesign.co?subject=Hello There">thomas@infinitedesign.co</a>
        </span>
        <span class="tel"><a href="tel:+18888873334">+1-888-887-3334</a></span>
        <span class="adr">
          <span class="locality">New York City</span>, <span class="country-name">United States</span>
        </span>
      </p>
    </section>
  </div>
</footer>
