<footer role="contentinfo">
  <div>
    <section id="about">
      <h3>Our Vision</h3>
      <p>
        <strong>infiniteDesign means unlimited possibilities.</strong> What do you want to create? You dream it. We'll build it.
        <!-- TODO: Add other atributions: Yeoman, nanoc, etc (more?) -->
      </p>
    </section>

    <section id="elsewhere">
      <h3>Elsewhere</h3>
      <ul>
        <li><a href="http://twitter.com/<%= @site.config[:twitter] %>" class="twitter" title="Tweets.">Twitter</a></li>
        <li><a href="http://github.com/<%= @site.config[:github] %>" class="github" title="Let's git it on.">GitHub</a></li>
      </ul>
    </section>

    <section id="contact">
      <h3>Contact</h3>
      <p class="vcard">
        <span class="email">
          <a href="mailto:<%= @site.config[:email] %>?subject=Hello There"><%= @site.config[:email] %></a>
        </span>
        <span class="tel"><a href="tel:<%= @site.config[:phonelink] %>"><%= @site.config[:phone] %></a></span>
        <span class="adr">
          <span class="locality"><%= @site.config[:city] %></span>, <span class="country-name"><%= @site.config[:country] %></span>
        </span>
      </p>
    </section>
  </div>
</footer>
