<header role="banner">
  <h1><a href="/"><%= @site.config[:company] %></a></h1>
  <!-- <p>Tags: <%= tags_for(@item) %></p> -->
  <nav>
    <!-- <div class="divider">|</div> -->
    <ul>
      <li><a href="/<%= @site.config[:sec1] %>/"><%= @site.config[:sec1] %></a></li>
      <li><a href="/<%= @site.config[:sec2] %>/"><%= @site.config[:sec2] %></a></li>
    </ul>
  </nav>

  <!-- search currently disabled -->
  <!--
  <form id="search" method="post" action="search.html">
    <input type="text" name="search" placeholder="search..." />
    <input type="submit" name="sa" value="go" />
  </form>
  -->
</header>
